<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><i class="bi bi-activity"></i> Todo List {{ showTaskDetails }} </h1>
    </div>

    <div class="col-12">
      <!-- TODO: Pakeisti forma i <app-task-create> -->
      <app-task-create (newItemEvent)="getTasks()"></app-task-create>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Task Title</th>
          <th>Author</th>
          <th>ID</th>
        </tr>
      </thead>
      <!-- Dinaminis klases pridejimas elementui:
      [class.class-name]
      -->
      <tr *ngFor="let task of tasks" [class.task-completed]="task.completed" [class.bg-danger]="task.id == selectedTask?.id">
        <td>
          <!-- Ateityje si elementa naudosime, pazymeti uzduotis kaip baigtas -->
          <!-- [checked] - dinaminis checked atributo priskyrimas -->
          <input type="checkbox" [checked]="task.completed" (change)="toggleTask(task)">
        </td>
        <td>
          <!-- Rodoma: Jei uzduoties completed kintamasis yra true -->
          <!-- ngClass panaudojimo pavyzdiai: https://stackoverflow.com/questions/35269179/angular-conditional-class-with-ngclass -->
          <i class="bi-alarm " [class.text-success]="task.completed"
            [ngClass]="{'text-success': task.completed,  'text-danger': !task.completed  }" *ngIf="task.completed"></i>

          <!-- Rodoma: Jei uzduoties completed kintamasis yra false -->
          <i class="bi-alarm text-danger" *ngIf="!task.completed"></i>
          <span (click)="toggleTaskDetails(task)" class="task-details-toggle-button">
            {{ task.title }}
          </span>
        </td>
        <td><i class="bi bi-activity"></i> Author: {{ task.author }}</td>
        <td>
          <span *ngIf="task.user">
            <a routerLink="/users/{{ task.userId }}">
              Assigned to: {{ task.user?.email }}
            </a>
          </span>

          <span *ngIf="!task.user" class="text-danger">
            Not Assigned
          </span>
        </td>
        <td>{{ task.id }}</td>
        <td>
          <button (click)="deleteTask(task)" class="btn btn-danger bg-danger">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>


<div *ngIf="showTaskDetails">
  <app-task-details [task]="selectedTask" class="task-details-container"
    (taskDetailsCloseEvent)="toggleTaskDetails(null, true)">
  </app-task-details>
  <div class="task-details-overlay" (click)="toggleTaskDetails(null, true)">
  </div>
</div>