<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="navbar-brand" href="#">
          <img
            src="https://bit.lt/img/BIT_bl-RGB.png"
            width="100"
            class="d-inline-block align-top"
            alt=""
          />
          Todo List
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-2 bg-dark pt-3">
      <div class="card mt-3">
        <div class="card-header">Meniu</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a routerLink="">Tasks</a>
          </li>
          <li class="list-group-item">
            <a routerLink="users">Users</a>
          </li>
          <li class="list-group-item">
            <a routerLink="stats">Stats</a>
            <span
              class="
                position-absolute
                top-5
                start-100
                translate-middle
                badge
                rounded-pill
                bg-danger
              "
            >
              New!
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
